@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700;1000&display=swap');

:root {
  --background-color: #101010;
  --callout-background: #2e2e2e;
  --brand-color: #d5b25e;
  --brand-light: #e2dbab;
  --scrollbar-width: 4px;
  --border-radius: 8px;
}

body {
  margin: 0;
  padding: 20px;
  background-color: var(--background-color);
  font-family: 'Mulish', sans-serif;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background-color: var(--background-color);
  width: var(--scrollbar-width);
}

::-webkit-scrollbar-thumb {
  background-color: var(--brand-color);
  border-radius: var(--border-radius);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.emph {
  padding: 1px 7px;
  line-height: 40px;
  background-color: var(--callout-background);
  border-radius: 4px;
}

.showcase-image {
  max-width: 100%;
  max-height: 400px;
}

.caption {
  font-size: 0.8em;
  margin-top: -10px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 90%;
  height: 20px;
  margin-bottom: 20px;
  padding: 10px 0px 20px 10px;
  opacity: 0.8;
  font-weight: 200;
  font-size: 14px;
}

.header a,
.header a:hover {
  color: white !important;
}

.footer {
  position: fixed;
  bottom: 0vh;
  left: 0vw;
  width: 100%;
  height: auto;
  margin-top: 50px;
  padding: 2px;
  opacity: 0.8;
  font-weight: 200;
  font-size: 13px;
  text-align: center;
  background-color: var(--background-color);
  opacity: 1;
}

.hr {
  width: 80%;
  height: 2px;
  background-color: var(--callout-background);
  border-radius: var(--border-radius);
}

.container {
  margin-top: 40px;
  margin-bottom: 50px;
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

.logo,
.logo img {
  width: 150px;
  height: 150px;
  margin-top: 15px;
  /* margin-bottom: -20px; */
}

.title {
  font-weight: 1000;
  font-size: 3;
  letter-spacing: 1px;
}

.entry {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.entry .heading {
  font-weight: 1000;
  letter-spacing: 1px;
}

.entry .subheading {
  font-weight: 400;
  font-size: 18px;
  opacity: 0.8;
  margin-top: -10px;
  margin-bottom: 10px;
}

.callout {
  background-color: var(--callout-background);
  width: auto;
  height: auto;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  border-radius: var(--border-radius);
  margin-top: 10px;
  margin-bottom: 10px;
}

.callout-emoji {
  width: 10px;
  height: 10px;
  padding: 10px 30px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: auto;
  background-color: var(--callout-emoji-background);
  font-size: 23px;
}

.callout-emoji img {
  width: 30px;
  height: 30px;
  padding: 10px 30px 10px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
}

.callout-content {
  font-weight: 400;
  font-size: 15px;
}

a {
  color: var(--brand-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  transition: all 0.5s;
  color: var(--brand-light);
}

a:not(:hover) {
  transition: all 0.5s;
  color: var(--brand-color);
}

li {
  margin: 10px;
}

ol li {
  padding: 3px 0 3px 20px;
}

.go-back {
  background-color: var(--callout-background);
  width: fit-content;
  padding: 12px 15px;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.go-back:hover {
  transition: all 0.2s;
  opacity: 0.7;
}

.go-back:not(:hover) {
  transition: all 0.2s;
  opacity: 1;
}
